<div class="index-container">
  <p id="notice"><%= notice %></p>

  <h1>Data Sources</h1>

  <table class="border-table">
    <thead>
      <tr>
        <th>Source</th>
        <th>Associated Measures</th>
      </tr>
    </thead>

    <tbody>
      <% @data_sources.sort_by{|source| Measure.where(data_source_id: source.id).count }.reverse.each do |data_source| %>
        <tr>
          <td><%= link_to data_source.source, data_source %></td>
          <td><%= Measure.where(data_source_id: data_source.id).count %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <br>

</div>