<div class="index-container">

  <p id="notice"><%= notice %></p>

  <h1>Measure Targets</h1>

  <table class="border-table">
    <thead>
      <tr>
        <th>Target</th>
        <th>Associated Measures</th>
      </tr>
    </thead>

    <tbody>
      <% @measure_targets.sort_by{|measure_target| Measure.where('measure_targets && ARRAY[?]::varchar[]', measure_target.id).count }.reverse.each do |measure_target| %>
        <tr>
          <td><%= link_to measure_target.target, measure_target %></td>
          <td><%= Measure.where('measure_targets && ARRAY[?]::varchar[]', measure_target.id).count %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <br>

</div>