<h1 align="center" style="padding-top: 12px;">Welcome to the Global Climate Change Measures Database</h1>
<h2 align="center" style="padding-top: 44px;">What's here</h2>
<table>
	<% @models.sort.reverse.each{|model| %>
		<tr>
			<td align="center" style="padding:6px; vertical-align: top;">
				<h4 style="padding-top:22px;"><%= link_to model, "/#{model.underscore.humanize.downcase.gsub(" ","_")}" %>: <%= model.singularize.constantize.all.count %> records</h4>
			</td>
		</tr>
	<% } %>
</table>


<nav class="navbar fixed-bottom navbar-expand-sm navbar-dark bg-dark">
  
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse footer" id="navbarSupportedContent">
    <div class="nav-item navbar-nav mr-auto nav-centered">
    	<a class="nav-link" href="https://github.com/Dlindse/gccmdb" target="blank">GitHub</a>
    </div>

  </div>
</nav>

	

